#demo div{
	width: 50px;
	height: 50px;
	border:2px solid #000;
	text-align: center;
	line-height: 50px;
}
#root{ margin:auto; position: relative;; }
#root div{ position: absolute; top:60px;}
#btn-group{
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	top:300px;
}
.line{
	position: absolute;
	height: 0px;
	border:1px solid #000;
	top:40px;
}
.left{
	transform: rotate(-15deg);
}
.right{
	transform: rotate(15deg);
}
#line1{
	width: 175px;			
	left:-175px;
}
#line2{
	width: 175px;
	right:-175px;	
}
#line3{
	width: 100px;
	left:-100px;
}
#line4{
	width: 100px;
	right:-100px;
}

#line5{
	width: 60px;
	left:-60px;
}
#line6{
	width: 60px;
	right:-60px;
}

#btn-group div{
	padding: 10px;
	border: 1px solid #aaa;
}
#btn-group div:nth-child(1){
	border-bottom: none;
}
#btn-group input{
	margin-right: 20px;
}
#btn-group input[type=text]{
	border:1px solid #aaa;
}